@import "tailwindcss";

@theme {
    --color-primary-100: #68a587;
    --color-primary-200: #4f9673;
    --color-primary-300: #36875f;
    --color-primary-400: #1d784b;
    --color-primary-500: #046a38;
    --color-primary-600: #035f32;
    --color-primary-700: #03542c;
    --color-primary-800: #024a27;
    --color-secondary-500: #c62a24;
    --color-secondary-600: #b22520;
    --color-secondary-700: #9e211c;
    --color-secondary-800: #8a1d19;
}

